* {
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
}
.navContainer {
    display: flex;
    gap: 30px;
}
.Section {
    margin: 10px;
    color: #7751D1;
}
.Section:hover h2{
    color: bisque;
}
.Section:hover ul{
    display: block ;
    position: fixed;
    z-index: 2;
}

ul {
    display: none;
}
#mentalHealthList,
#relationshipList,
#sexualHealthList,
#sexEducationList{
    background-color: white;
}

li {
    list-style: none;
    margin: 10px;
    color: black;
}

h2 {
  font-size: 20px;
    position: relative;
    left: 100px;
    margin-bottom: 5px;
    cursor: pointer;
}
a{
  color: white;
}
.Btn {
    position: relative;
    right: -400px;
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(124, 54, 255) inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }
  
  .Btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }
  
  .Btn:hover {
    animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
.rectangleImage{
    height: 406px;
    width: 1480px;
    position: relative;
    top: 8px;
    left: -5px;

}
.firstImage{

    height: 406px;
    width: 745px;
   position: absolute;
   top: 60px;
   left: 750px;
}
.firstContent{
    margin: 30px;
    position: absolute;
    top: 100px;
    width: 40%;
    font-size: large;
}
h1{
    color: #7751D1;
}
.secondContent{
  position: relative;
  left: 550px;
  margin: 60px;
  align-items: center;
}
.circleImage{
    position: absolute;
    right: 200px;
}
.thirdContent{
  position: relative;
  left: 550px;
  margin: 60px;
  align-items: center;
}
.mentalHealthHeading{
    position: absolute;
    right: 660px;
}
.thirdPara{
  padding: 30px;
  background-color: #B1D877;
    position: absolute;
    height: 270px;
    width: 25%;
    top: 95px;
    left: -570px;
    font-size: large;
    transition: 1s;
}
.thirdPara:hover{
  transform: scale(1.1);
}

.fourthContent{
  padding: 30px;
    background-color: #F16A70;
    position: absolute;
    height: 270px;
    width: 25%;
    top: 715px;
    left: 500px;
    font-size: large;
    transition: 1s;
}
.fourthContent:hover{
  transform: scale(1.1);
}
.fifthContent{
  padding: 30px;
    background-color: #8CDCDA;
    position: absolute;
    height: 270px;
    width: 25%;
    top: 715px;
    left: 1000px;
    font-size: large;
    transition: 1s;
}
.fifthContent:hover{
  transform: scale(1.1);
}
.chatMain{
  position: absolute;
   top: 50px;
  left: 100px;
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  background-color: black;
  transition: 1s;
  color: white;
}
.chatMain:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.contentSpecial{
  margin: 5px;
}
.girlSleepy{
  position: absolute;
  top: 1050px;
  height: 600px;
  width: 100%;
}
.ourMinds{
  position: absolute;
  top: 1659px;
  color: #7751D1;
  left: 500px;
  margin: 10px;
  padding: 20px;
  width: 500px;
}
.ourLatest{
  position: absolute;
  left: 90px;
  padding: 10px;
}
.backbone{
  position: relative;
  top: 1050px;
  height: 200px;
  border-radius: 10px;
  margin: 20px;
  transition: 1s;  
}
.backbone:hover{
  transform: scale(1.1);
}
.contentBackbone{
  margin: 15px;
  position: absolute;
  top: 200px;
  left: 20px;
  color: black;
  width: 20%;
  font-size: large;
  border-radius: 10px;
  transition: 1s;
}
.contentBackbone:hover{
  transform: scale(1.1);
}
.newsContent{
  display: flex;
  border: 1px solid gray;
  position: relative;
  top: 800px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
}
.sleepyStudent{
  position: absolute;
  left: 600px;
  height: 200px;
  border-radius: 10px;
  transition: 1s;
}
.sleepyStudent:hover{
  transform: scale(1.1);
}
.studentContent{
  position: absolute;
  left: 600px;
  top: 210px;
  color: black;
  width: 20%;
}
.sexAndSocialMedia{
  position: absolute;
  right: 90px;
  height: 200px;
  border-radius: 10px;
  transition: 1s;
}
.sexAndSocialMedia:hover{
  transform: scale(1.1);
}
.sexAndSocialMediaContent{
  position: absolute;
  right: 30px;
  top: 210px;
  color: black;
  width: 20%;
}
.earth{
  height: 800px;
  width: 100%;
  position: absolute;
  top: 2150px;
}
.lastPage{
  position: absolute;
  height: 400px;
  top: 2960px;
  width: 100%;
}
.worldContent{
  position: absolute;
  height: 190px;
  top: 2750px;
  left: 400px;
  align-items: center;
}
.kurakani{
  margin: 20px;
  position: absolute;
  top: 3050px;
  height: 150px;
}
.aboutUs{
  position: absolute;
  top: 3050px;
  height: 200px;
  right: 200px;
  width: 10%;
}
.lastContent{
  color: white;
  position: absolute;
  top: 3300px;
  justify-content: center;
}
.P{
  position: absolute;
  left: 500px;
}
.T{
  position: absolute;
  left: 700px;
}