*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #DFD9E2;
}
h1{
    margin: 30px;
}
.anxietyText{
    margin: 30px;
    width: 60%;
    font-size: large;
}
li{
    color: #7751D1;
}
.anxietyFirstImage{
    position: absolute;
    top: 15px;
    right: 20px;
    height: 450px;
    width: 550px;
    transition: 2s;
}
.anxietyFirstImage:hover{
    transform: scale(1.1);
}
.anxietySecondImage{
    position: absolute;
    top: 450px;
    margin: 30px;
    height: 450px;
    width: 450px;
    border-radius: 10px;
    transition: 2s;
}
.anxietySecondImage:hover{
    transform: scale(1.1);
}
.anxietyMainText{
    position: absolute;
    right: 20px;
    height: 900px;
    width: 60%;
}
.anxietyImage3{
    position: absolute;
    margin: 20px;
    width: 500px;
    height: 450px;
    left: 10px;
    top: 950px;
    border-radius: 10px;
    transition: 2s;
}
.anxietyImage3:hover{
    transform: scale(1.1)
}


