body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-login-form {
  background: linear-gradient(to right, #3498db, #2c3e50); /* Gradient background */
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 15px 0 5px;
  color: #ddd;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  color: #333;
}

select {
  appearance: none;
}

button {
  background-color: #3498db; /* Matching color for the gradient */
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9; /* Darker shade on hover */
  transition: background-color 0.3s ease-in-out;
}