<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <title>Sign Up / Login</title>

</head>
<body>
  <div class="container">
    <form action="/login" method="post">
      <h2>Sign Up / Login</h2>
      
      <!-- <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select> -->

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Your Email Address" required>

      <label for="username">userName:</label>
      <input type="text" id="username" name="username" placeholder="Your Full Name" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Your Nickname" required>

      <button type="submit">Sign Up / Log In</button>
    </form>
  </div>
</body>
</html>



